{{ header }}
<main class="bg-gray-700 w-full h-full">
    <div class="container mx-auto mt-10 p-8">
        <form class="bg-gray-900 p-6 rounded-lg" action="/action/add" method="post">
            <div class="mb-4">
                <label for="name" class="block text-gray-400 font-bold mb-2">Имя*:</label>
                <input type="text" id="name" name="name" placeholder="Имя*" required value="{{ fields_value.name }}"
                       class="w-full border border-gray-700 rounded-md p-2 text-gray-300 bg-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <span id="name-error" class="text-red-500">{{ errors.name }}</span>
            </div>
            <div class="mb-4">
                <label for="phone" class="block text-gray-400 font-bold mb-2">Телефон*:</label>
                <input type="tel" id="phone" name="phone" placeholder="Телефон*" required value="{{ fields_value.phone }}"
                       class="w-full border border-gray-700 rounded-md p-2 text-gray-300 bg-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <span id="phone-error" class="text-red-500">{{ errors.phone }}</span>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-400 font-bold mb-2">Email*:</label>
                <input type="email" id="email" name="email" placeholder="Почта*" required value="{{ fields_value.email }}"
                       class="w-full border border-gray-700 rounded-md p-2 text-gray-300 bg-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <span id="email-error" class="text-red-500">{{ errors.email }}</span>
            </div>
            <div class="mb-4">
                <label for="category" class="block text-gray-400 font-bold mb-2">Категория*:</label>
                <select id="category" name="category" required
                        class="w-full border border-gray-700 rounded-md p-2 text-gray-300 bg-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    {% for category in categories_list %}
                        <option value="{{ category.id }}" {% if category.id == fields_value.category %} selected {% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
                <span id="category-error" class="text-red-500">{{ errors.category }}</span>
            </div>
            <button type="submit"
                    class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
                Сохранить
            </button>
            <a href="/"
               class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
                Отменить
            </a>
        </form>
    </div>
</main>
{{ footer }}